@import "tailwindcss";

:root {   --background: #FDFBFF;
    --h1: #310055;
    --h2: #4A107A;
    --h3: #6722A6;
    --h4: #7B2CBF;
    --h5: #9041D1;
    --h6: #A656E2;
    --p: #5E2D91;
    --button: #8E44AD;
    --button-text: #FFFFFF;
}

@font-face {
  font-family: 'HeadingFont';
  src:url('/خطوط 10 3 2026/DARK.ttf') format(truetype)

}


@font-face {
  font-family: 'HeadingFont2';
  src:url('/خطوط 10 3 2026/Ghadim.ttf') format(truetype)

}

@font-face {
  font-family: 'BodyFont';
  src:url('/خطوط 10 3 2026/Ghadim.ttf') format(truetype)

}



@theme inline {
  --font-sans: 'BodyFont', sans-serif;
  --font-serif: 'HeadingFont', serif;  --color-background: var(--background);
  --color-h1: var(--h1);
  --color-h2: var(--h2);
  --color-h3: var(--h3);
  --color-h4: var(--h4);
  --color-h5: var(--h5);
  --color-h6: var(--h6);
  --color-text-main: var(--p);
  --color-btn: var(--button);
  --color-btn-text: var(--button-text);
}

/* تعديل الميديا ليتناسب مع رقة ألوانكِ */
@media (prefers-color-scheme: dark) {
  :root {
  --color-background: var(--background);
  --color-h1: var(--h1);
  --color-h2: var(--h2);
  --color-h3: var(--h3);
  --color-h4: var(--h4);
  --color-h5: var(--h5);
  --color-h6: var(--h6);
  --color-text-main: var(--p);
  --color-btn: var(--button);
  --color-btn-text: var(--button-text);
  }
}

body {  background-color: var(--background);
  color: var(--p);
  direction: rtl;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'BodyFont', sans-serif;

}

h1 {
  font-family: 'HeadingFont', serif;
  color: var(--h1);
}

h2 {
   font-family: 'HeadingFont2', serif;
   color: var(--h2); 
}
p {
  font-family: 'BodyFont', sans-serif;
  color: var(--p);
}

h3 { color: var(--h3); }
h4 { color: var(--h4); }
h5 { color: var(--h5); }
h6 { color: var(--h6); }

@layer base{
  h1 { @apply text-h1}
  h2 { @apply text-h2}
  h3 { @apply text-h3}
  h4 { @apply text-h4}
  h5 { @apply text-h5}
  h6 { @apply text-h6}
}

main {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}